/*
  Phone: Max-width: 440px;
  Tablet/LaptopSmall: Max-width: 1368px;
  Big-Screen: Min-width: 1368px;
 */
.row {
  width: 100%;
  /* @include respond(tablet){
     flex-direction: column;
   }*/ }

@media (max-width: 75em) {
  #onTablet {
    width: 100%; } }

.closeBtn {
  top: 1.5rem;
  right: 1.5rem;
  z-index: 10000000;
  position: absolute;
  color: #ccc;
  float: right;
  font-size: 3rem;
  height: 3rem; }
  .closeBtn:focus, .closeBtn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

#modalBtn {
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    #modalBtn {
      margin-top: 2rem; } }

.img__social-facebook {
  height: 3rem;
  align-self: center; }
  .img__social-facebook:hover {
    transform: scale(1.2); }

.button {
  font-family: "Open Sans";
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 700; }
  .button:active, .button:focus {
    border-bottom: 2px solid white;
    outline: none; }

.activeState {
  border-bottom: 2px solid white;
  outline: none; }

#modalBtn img {
  height: 3rem; }

.button__Marten {
  font-family: "Open Sans";
  margin-right: 1rem; }

.button__mattias {
  font-family: "Open Sans";
  margin-left: .5rem;
  margin-right: .5rem;
  /*@include respond(phone) {
    display: none;
  }*/ }

.button__marie {
  margin-right: 1rem; }

@media (max-width: 37.5em) {
  .button__kristian,
  .button__marie,
  .button__Marten,
  .button__Karlson,
  .button__mattias {
    display: none; } }

@media (max-width: 37.5em) {
  .button__kristian-phone,
  .button__marie-phone,
  .button__Marten-phone,
  .button__Karlson-phone,
  .button__mattias-phone {
    display: flex; } }

.videBtn {
  color: white;
  display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 700; }
  .videBtn:active, .videBtn:focus {
    border-bottom: 2px solid white;
    outline: none; }
  .videBtn-Mattias {
    padding-left: 2%; }

.margin-none {
  margin-bottom: 0; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: black;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1137e9;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: linear-gradient(#3a7bd5, #3a6073);
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */ }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none; }

@keyframes keyframe-fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

body, html {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #1137e9; }

body {
  font-family: "Open Sans";
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    body {
      font-size: 50%; } }

.heading {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 300; }
  @media (max-width: 75em) {
    .heading {
      font-size: 3rem;
      line-height: 4rem; } }
  @media (max-width: 37.5em) {
    .heading {
      font-size: 2rem;
      line-height: 2rem; } }

.paragraph {
  color: white;
  font-size: 1.4em;
  line-height: 1.5rem; }
  @media (max-width: 75em) {
    .paragraph {
      font-size: 1.3rem;
      line-height: 1.6rem; } }
  @media (max-width: 37.5em) {
    .paragraph {
      font-size: 1rem;
      padding-left: 1rem;
      padding-right: 1rem; } }

.paragraph__calltext {
  text-transform: uppercase; }

.section__1_paragraph-reverse {
  margin: 0;
  position: absolute;
  right: 0.5rem;
  top: 39%;
  transform: rotate(270deg);
  z-index: 10; }
  .section__1_paragraph-reverse::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 50px;
    margin-right: 3px;
    margin-bottom: 3px;
    background-color: white; }
  @media (max-width: 37.5em) {
    .section__1_paragraph-reverse {
      top: 35%;
      right: -5%; } }
  .section__1_paragraph-reverse:hover {
    text-decoration: none;
    cursor: pointer;
    color: white; }

.heading__number-desktop {
  margin: 0;
  position: fixed;
  top: 79%;
  right: 11rem;
  z-index: 10;
  color: white;
  font-weight: 700;
  font-size: 5rem; }
  @media (max-width: 75em) {
    .heading__number-desktop {
      right: 3rem; } }
  @media (max-width: 37.5em) {
    .heading__number-desktop {
      display: none; } }
  .heading__number-desktop:hover {
    color: white;
    text-decoration: none; }

.heading__number-desktop-span {
  position: fixed;
  top: 90%;
  right: 11rem;
  z-index: 10;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem; }
  @media (max-width: 75em) {
    .heading__number-desktop-span {
      right: 3rem; } }
  @media (max-width: 37.5em) {
    .heading__number-desktop-span {
      display: none; } }
  .heading__number-desktop-span:hover {
    color: white;
    text-decoration: none; }

.videoNumberMobileH1 {
  display: none; }
  @media (max-width: 37.5em) {
    .videoNumberMobileH1 {
      display: block;
      text-align: right;
      margin-right: 7%;
      color: white; } }

span.videoNumberMobileSpan {
  display: none; }
  @media (max-width: 37.5em) {
    span.videoNumberMobileSpan {
      display: block;
      text-align: right;
      margin-right: 13%;
      font-size: 1rem; } }

@media (max-width: 37.5em) {
  a.videoNumberMobile {
    font-size: 2rem;
    text-align: right;
    margin-right: 7%;
    color: white; }
    a.videoNumberMobile a {
      color: white; } }
a.videoNumberMobile:hover {
  color: white;
  text-decoration: none; }

@media (max-width: 37.5em) {
  .mobileCallingNumber {
    text-align: right; } }

.blockforMobile {
  display: none; }
  @media (max-width: 37.5em) {
    .blockforMobile {
      display: block;
      position: absolute;
      color: white;
      top: 14%;
      right: 5%;
      text-transform: uppercase; } }

body {
  position: relative;
  background-color: #1137e9; }

.section__1 {
  position: relative;
  background-image: url("../images/kristianIlves.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh; }
  @media (max-width: 37.5em) {
    .section__1 {
      background-position: center; } }

#section1LogoForMobile {
  display: none; }
  @media (max-width: 37.5em) {
    #section1LogoForMobile {
      display: block;
      position: absolute;
      left: 7%;
      top: 1%; } }

.section__2 {
  background-color: #1137e9;
  margin-top: 20rem; }
  @media (max-width: 37.5em) {
    .section__2 {
      margin-top: 0; } }

@media (max-width: 37.5em) {
  .col-sm-12.col-md-6 {
    height: auto; } }

aside {
  margin-left: 15%; }
  @media (max-width: 75em) {
    aside {
      margin-left: 10%; } }
  @media (max-width: 37.5em) {
    aside {
      margin-left: 1rem; } }

.section__1__heading-big {
  margin-top: 50%; }
  @media (max-width: 37.5em) {
    .section__1__heading-big {
      margin-top: 55%;
      margin-right: 7rem;
      margin-bottom: 1rem;
      line-height: 2rem; } }

.section__1__paragraph-secondside {
  margin-top: 58%;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%; }

.section__1__paragraph-secondsidetwo {
  text-align: center; }
  .section__1__paragraph-secondsidetwo:hover {
    text-decoration: none;
    border: none; }

.section__1__paragraph-intro {
  margin-top: 2rem; }
  @media (max-width: 37.5em) {
    .section__1__paragraph-intro {
      display: none; } }

.valgeTaust {
  margin-top: 8rem;
  margin-left: 8rem;
  margin-right: 8rem;
  background-color: white; }
  @media (max-width: 37.5em) {
    .valgeTaust {
      margin: 1rem;
      height: auto; } }

span {
  color: white; }

.section__1__paragraph-hashtag {
  color: white;
  text-align: left;
  margin-top: 5rem; }
  .section__1__paragraph-hashtag a {
    color: white; }
    .section__1__paragraph-hashtag a:hover {
      text-decoration: none;
      outline: none;
      border: none; }
  @media (max-width: 37.5em) {
    .section__1__paragraph-hashtag {
      display: none; } }

.number {
  font-size: 3rem;
  color: white;
  border: none;
  text-decoration: none;
  margin: 0; }

.paragraph__calltext {
  text-align: right; }

.section__2-images {
  width: 100%;
  margin-top: 10rem;
  z-index: 100; }

.section__2-socialmediafollowText {
  align-self: center;
  color: #1137e9;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 1rem; }

.section__2-heaading {
  margin-top: 10rem; }
  @media (max-width: 37.5em) {
    .section__2-heaading {
      margin-top: 3rem; } }

@media (max-width: 37.5em) {
  .section__2_images-rongad {
    display: none; } }

.section__2-paragraph {
  color: black;
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.6rem; }
  @media (max-width: 75em) {
    .section__2-paragraph {
      font-size: 1.3rem; } }

.section__2-container {
  padding-left: 7rem; }
  @media (max-width: 75em) {
    .section__2-container {
      padding-left: 1rem; } }
  @media (max-width: 37.5em) {
    .section__2-container {
      padding-left: 1rem; } }

.section__2-makeDonation {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 900; }
  @media (max-width: 37.5em) {
    .section__2-makeDonation {
      font-size: 1.4rem;
      font-weight: 900; } }

.section__2-moreInfo {
  margin-top: 3rem;
  color: black;
  font-size: 1.3rem;
  font-weight: 700; }

.section__2_contact {
  color: black; }
  .section__2_contact:hover {
    text-decoration: none;
    color: black; }

.section__2_contact-mail {
  color: black;
  margin-top: 1rem;
  margin-bottom: 0; }
  .section__2_contact-mail:hover {
    text-decoration: none;
    color: black; }

.section__2-hashtag {
  margin-top: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #1137e9; }
  .section__2-hashtag:hover, .section__2-hashtag:focus {
    border: none;
    text-decoration: none;
    color: #1137e9; }

#section__2 {
  position: relative; }

.section__2-socialMedia {
  display: flex;
  flex-direction: column; }
  .section__2-socialMedia a {
    color: #1137e9;
    align-self: center; }

.logoDesktop {
  position: absolute;
  top: -15.3rem;
  left: 16rem; }

.logoVideo-mobile {
  display: none; }
  @media (max-width: 37.5em) {
    .logoVideo-mobile {
      display: block;
      position: absolute;
      left: 8%;
      top: 8%; } }

@media screen and (max-width: 440px) {
  .logoDesktop {
    display: none; } }
#makeItFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.keskmine {
  display: none; }
  @media (max-width: 37.5em) {
    .keskmine {
      display: block;
      padding: 1rem;
      padding-top: 3rem;
      height: 55vh; } }

.leiavoitja-keskmine {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900; }

.keskmine-pilt {
  display: none; }
  @media (max-width: 37.5em) {
    .keskmine-pilt {
      display: block;
      padding-top: 2rem; } }

.keskmine-pilt-rongad {
  display: none; }
  @media screen and (max-width: 765px) {
    .keskmine-pilt-rongad {
      display: block;
      bottom: -28%;
      padding-right: 1.89rem; } }

.img-onphone {
  display: none; }
  @media (max-width: 37.5em) {
    .img-onphone {
      display: block;
      margin-right: auto;
      margin-left: auto; } }

.mobileCallingNumberForcallingHeading {
  font-size: 3rem; }

.mobileCallingNumberForcalling {
  display: none;
  margin: 0; }
  @media (max-width: 37.5em) {
    .mobileCallingNumberForcalling {
      display: block;
      position: absolute;
      right: 5%;
      color: white;
      bottom: 15%;
      z-index: 1; } }

.mobileCallingNumberTextSpan {
  display: none; }
  @media (max-width: 37.5em) {
    .mobileCallingNumberTextSpan {
      display: block;
      font-size: 1.3rem;
      position: absolute;
      right: 5%;
      bottom: 10%; } }

.phone-only {
  display: none; }
  @media (max-width: 37.5em) {
    .phone-only {
      display: block;
      font-size: 1rem; } }

#video {
  width: 100%;
  height: 85%;
  z-index: 10000; }
  @media (max-width: 37.5em) {
    #video {
      height: 50vh;
      margin-top: 25%; } }

.modal {
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: black; }
  @media (max-width: 37.5em) {
    .modal {
      background-color: #434343; } }

.modal-content {
  z-index: 10000;
  position: relative;
  background-color: #1137e9;
  width: 100%;
  height: 100vh;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation-name: modalopen;
  animation-duration: 2s; }
  @media (max-width: 37.5em) {
    .modal-content {
      background-color: #434343; } }

@keyframes modalopen {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.videoNumberMobileH1 {
  font-size: 1rem;
  color: white; }

.buttonsForVideo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3rem; }
  @media (max-width: 37.5em) {
    .buttonsForVideo {
      margin-left: 0; } }

.numbersAndStuff {
  margin-left: auto;
  margin-right: 10%; }
  @media (max-width: 37.5em) {
    .numbersAndStuff {
      display: none; } }
  .numbersAndStuff .videoNumberDesktopVideo {
    font-size: 4rem;
    color: white;
    font-weight: 400; }
    .numbersAndStuff .videoNumberDesktopVideo a {
      color: white; }
  .numbersAndStuff .videoNumberDesktopVideoSpan {
    float: right;
    font-size: 1.5rem; }

.thingsBeFixed {
  position: absolute;
  top: 107vh;
  right: 11%;
  z-index: 1000; }

.thingsBeFixed-span {
  top: 118vh;
  position: absolute;
  right: 11%;
  z-index: 1000; }

@media (max-width: 37.5em) {
  .displayNonePhone {
    display: none; } }

.active {
  border-bottom: 2px solid white; }

@media (max-width: 37.5em) {
  .leiavoitja {
    display: none; } }

.section1LogoForDesktop {
  position: absolute;
  left: 7%;
  top: 4rem; }
  @media (max-width: 75em) {
    .section1LogoForDesktop {
      left: 4rem;
      top: 2rem; } }
  @media (max-width: 37.5em) {
    .section1LogoForDesktop {
      display: none; } }

.thingsBeFixedLogo {
  position: absolute;
  top: 107vh;
  right: 11%;
  z-index: 1000; }

.leiavoitja {
  color: #1137e9; }
  .leiavoitja:hover {
    text-decoration: none;
    outline: none;
    border: none; }

/*# sourceMappingURL=main.css.map */
